<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/materialize/0.97.5/css/materialize.min.css">
    <link href="https://cdn.bootcss.com/material-design-icons/2.1.3/iconfont/material-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/master.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/materialize/0.97.5/js/materialize.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
