<div class="row" id="form-container">
  <div class="col s6 offset-s3">
    <div class="input-field">
      <i class="material-icons prefix">person</i>
      <input type="text" class="validate" id="zjh">
      <label for="last_name">学号</label>
    </div>
    <div class="input-field">
      <i class="material-icons prefix">lock</i>
      <input type="password" class="validate" id="mm">
      <label for="password">密码</label>
    </div>
  </div>
  <div class="col s4 offset-s4">
    <button id="submit" class="btn waves-effect waves-light">确定</button>
  </div>
</div>
<script src="/js/form.js"></script>
